<p class="hp_fontSizeLarge hp_mbMedium">メモの詳細</p>
<div class="bl_memo hp_mbMedium hp_minHeightSmall">
  <div class="bl_memo_inner">
    <h1 class="bl_memo_title hp_fontSizeExMedium hp_mbSmall hp_textAlignCenter"><%= escape @title %></h1>
    <p class="bl_memo_body hp_fontSizeMedium hp_textAlignJustify"><%= escape @body %></p>
  </div>
</div>
<a href="/memos" class="el_button">メモ一覧へ</a>
